@import "tailwindcss";

:root {
  --background: #fff7ed;

  --text-primary: #1f2937;
  --text-secondary: #666666;

  --outline: #ccc;

  --scrollbar: #ebebeb;

  --primary: #f97316;

  --success: #29a744;
  --warning: #fec106;
  --error: #dd3544;
}

.dark {
  --background: #1c1917;

  --text-primary: #fffbeb;
  --text-secondary: #999999;

  --outline: #444;

   --scrollbar: #222;
}

@theme {
  --color-background: var(--background);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --color-outline: var(--outline);

  --color-primary: var(--primary);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
}

::selection {
  background-color: var(--primary);
  color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  border: 2px solid var(--scrollbar);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar);
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}