@import "tailwindcss";

:root {
  --background: #fcfcfc;
  --foreground: #000;

  --subtle: #666;

  --outline: #ccc;
  --outline-hover: #999;

  --scrollbar: #ebebeb;

  --feature-bg: #fcfcfc;

  --primary: #F97316;

  --editor-bg: #f7f7f7;
}

.dark {
  --background: #121212;
  --foreground: #fff;

  --subtle: #999;

  --outline: #444;
  --outline-hover: #666;

  --scrollbar: #222;

  --feature-bg: #171717;

  --primary: #F97316;

  --editor-bg: #1c1d1d;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-subtle: var(--subtle);

  --color-outline: var(--outline);
  --color-outline-hover: var(--outline-hover);

  --color-feature-bg: var(--feature-bg);

  --color-primary: var(--primary);

  --color-editor-bg: var(--editor-bg);
}

::selection {
  background-color: var(--primary);
  color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  border: 2px solid var(--scrollbar);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}