@import "tailwindcss";

:root {
  --background: #fff7ed;

  --text-primary: #1f2937;
  --text-secondary: #666666;

  --primary: #f97316;

  --success: #29a744;
  --warning: #fec106;
  --error: #dd3544;
}

.dark {
  --background: #1c1917;

  --text-primary: #fffbeb;
  --text-secondary: #999999;
}

@theme {
  --color-background: var(--background);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --color-primary: var(--primary);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}