@import "tailwindcss";

@font-face {
  font-family: "FiraCode";
  src: url("@ideelab/assets/fonts/WOFF2/FiraCode-Light.woff2")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraCode";
  src: url("@ideelab/assets/fonts/WOFF2/FiraCode-Regular.woff2")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraCode";
  src: url("@ideelab/assets/fonts/WOFF2/FiraCode-Medium.woff2")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraCode";
  src: url("@ideelab/assets/fonts/WOFF2/FiraCode-SemiBold.woff2")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraCode";
  src: url("@ideelab/assets/fonts/WOFF2/FiraCode-Bold.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg: hsl(0, 0%, 100%);
  --bglt: hsl(0, 0%, 98%);
  --bgltr: hsl(0, 0%, 94%);

  --primary: #f97316;

  --text: hsl(0, 0%, 5%);
  --subtle: hsl(0, 0%, 30%);

  --border: hsl(0, 0%, 80%);
}

.dark {
  --bg: hsl(0, 0%, 5%);
  --bglt: hsl(0, 0%, 7%);
  --bgltr: hsl(0, 0%, 11%);

  --primary: hsl(25, 95%, 39%);

  --text: hsl(0, 0%, 95%);
  --subtle: hsl(0, 0%, 70%);

  --border: hsl(0, 0%, 20%);
}

@theme {
  --color-bg: var(--bg);
  --color-bglt: var(--bglt);
  --color-bgltr: var(--bgltr);

  --color-primary: var(--primary);

  --color-subtle: var(--subtle);

  --color-br: var(--border);
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "FiraCode", monospace;
  font-weight: 400;
}

button {
  cursor: pointer;
}
